<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="StudySessionSoap">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				<binding name="BreakSessionSoap">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				<binding name="ReportSoap">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				<binding name="PredictionSoap">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
        <client>
			<endpoint address="https://studentsperformancepredictiontool-cw220240727091019.azurewebsites.net/StudySession.asmx"
                binding="basicHttpBinding" bindingConfiguration="StudySessionSoap"
                contract="StudySessionService.StudySessionSoap" name="StudySessionSoap" />
			<endpoint address="https://studentsperformancepredictiontool-cw220240727091019.azurewebsites.net/BreakSession.asmx"
                binding="basicHttpBinding" bindingConfiguration="BreakSessionSoap"
                contract="BreakSessionService.BreakSessionSoap" name="BreakSessionSoap" />
			<endpoint address="https://studentsperformancepredictiontool-cw220240727091019.azurewebsites.net/Report.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReportSoap" contract="ReportService.ReportSoap"
                name="ReportSoap" />
			<endpoint address="https://studentsperformancepredictiontool-cw220240727091019.azurewebsites.net/Prediction.asmx"
                binding="basicHttpBinding" bindingConfiguration="PredictionSoap" contract="PredictionService.PredictionSoap"
                name="PredictionSoap" />
        </client>
    </system.serviceModel>
</configuration>